<div class="container wrap_search">
  <img src="/assets/img/new_sento1.png" class="page_title"></img>
  <form action='/sento/search/list' method="get">
    <input type="text" name="name" class="search_input">
    <input type='submit' name='submit' class="search_button" value='検索' />
  </form>
</div>
