<div>
    <form action="/sento/<%= session[:user] %>/add" method="post">
        <input type="text" name="name"><br>
        <input type="text" name="osusume"><br>
        <input type="text" name="homepage_url">
        <input type="text" name="map_url">
        <input type="open_time" name="string">
        <input type="">
        <input>
        <input>
    </form>
</div>