<div>
    <form action="/signup" method="post">
        <input type="text" name="name" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="password" name="paswwordconfirmation" placeholder="password">
        <input type="submit" value="サインアップ">
    </form>
</div>