<div class="sento_container">
    <img src="/assets/img/title_SENTO.001.png" class="title_text"></img>
    <form action="/signup" method="post">
        <input type="text" name="name" placeholder="Username" class="signup_input"><br>
        <input type="password" name="password" placeholder="Password" class="signup_input"><br>
        <input type="password" name="paswword_confirmation" placeholder="password" class="signup_input">
        <input type="submit" value="新規登録" class="signup_button">
    </form>
    <a href="/" class="to_login_button">すでに登録済みの方はこちら</a>
</div>