<div>
    <h1>sento</h1>
    <p>新規登録</p>
    <form action="/signup" method="post">
        <input type="text" name="name" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="password" name="paswword_confirmation" placeholder="password">
        <input type="submit" value="サインアップ">
    </form>
</div>