body{
     /*background-color: #212121;*/
     /*background-color: #5a544b;*/
     background-color: #474a4d;
}

.sento_container{
     /*width:100vh;   */
     margin: 0px auto;  
     text-align: center;
     background-image: url("/assets/img/yuge.png");
     background-size: cover;
     height: 100vh;
}

.title_text{
     width:40%;
     margin-top: 20px;
     margin-bottom: 20px
}

.login_input{
     width: 70%;
     height: 50px;
     border-radius:30px 30px 30px 30px;
     border: none;
     /*outline: none;*/
     /*border-radius: 20%;*/
     margin-bottom:10px;
     font-size: 40px;
}
.login_button{
     font-size: 40px;
     margin-top: 40px;
     width: 70%;
     height: 50px;
     border-radius:30px 30px 30px 30px;
     border: none;     
}